<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>OmniBot Web Interface by $@!</title>
	<meta name="description" content="A simple web interface to control the omni robot through internet">
	<meta name="author" content="@saipraveend">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">

	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/underscore-min.js"></script>
        <script type="text/javascript" src="js/backbone-min.js"></script>
        <script type="text/javascript" src="js/joystick_view.js"></script>
        <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
</head>

<body>
	<header>
		<img src="images/logo.png">
		Omni<strong>BOT</strong>
		<div class="pubnub"></div>
	</header>

<script type="text/html" id="joystick-view">
    <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>" style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
        </canvas>
    </script>
    <div id="joystickContent" align="center">
    </div>
    <div>
        x: <span id="xVal"></span><br/>
        y: <span id="yVal"></span><br/>
    </div>
    
  <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
    <script charset="utf-8">
      (function(){
    
        var pubnub = PUBNUB.init({
          publish_key: 'pub-c-358b7e07-32d8-454b-a910-ad8208cb68c0',
          subscribe_key: 'sub-c-25fb2b4a-6d97-11e5-b6e2-0619f8945a4f'
        });
        
        pubnub.subscribe({
          channel: 'Robot',
          message: function(m){console.log(m)},
          connect : publish
        });
        
        function publish(z) {
          pubnub.publish({
            channel: 'Robot',
            message: z,
            callback : function(m){console.log(m)}
          });
        }
        
      })();
    </script>
    
    <script type="text/javascript">
        $(document).ready(function(){
            var joystickView = new JoystickView(150, function(callbackView){
                $("#joystickContent").append(callbackView.render().el);
                setTimeout(function(){
                    callbackView.renderSprite();
                }, 0);
            });
            joystickView.bind("verticalMove", function(y){
                $("#yVal").html(y);
            });
            joystickView.bind("horizontalMove", function(x){
                $("#xVal").html(x);
                publish(x);
            });
        });
    </script>

	<footer>
	</footer>
	
</body>
</html>
